$color-acc1: #ac23f3;
$color-acc2: #02923d;
$color-light: #f3f6f9;
$color-heavy: #1d3d5e;
$color-basic: #000;
$color-inverted: #fff;
$color-inverted-link: #0366d6;
$font-main: "Nunito", sans-serif;
$font-secondary: "Inter", sans-serif;
$border-radius: 10px;
$standart-duration: 100ms;
$narrow-width: 750px;
$wide-width: 1000px;

/*
    Generic visual things
*/
// global reset (because i can)
* {
  padding: 0;
  margin: 0;
}

body {
  color: $color-basic;
  font-family: $font-main;
  line-height: 22px;
  font-size: 16px;
}

a,
button {
  touch-action: manipulation;
}

.typo {
  line-height: 23px;

  a {
    @extend .link;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 15px;
    font-family: $font-secondary;
    font-weight: bold;
  }

  h1 {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    line-height: 16px;
  }

  p + p,
  p + iframe,
  p + table {
    margin-top: 15px;
  }
}

.link {
  color: $color-acc2;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba($color-acc2, 0.2);
  transition: color $standart-duration linear,
    border-bottom $standart-duration linear;

  &:hover {
    color: $color-acc1;
    border-bottom-color: $color-acc1;
  }
}

.button {
  border-radius: $border-radius;
  transition: background-color $standart-duration linear;

  &:hover {
    background-color: $color-light;
  }
}

/*
    Generic layout things
*/
.narrow-wrapper {
  width: 100%;
  max-width: $narrow-width;
  margin: 0 auto;
}

.basic-section {
  padding: 40px 0;
}

.spec-title {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 20px;
  font-family: $font-secondary;
}

.spec-title__accent {
  color: $color-acc1;
}

.spec-title__inverted {
  color: $color-inverted;
}

/*
    Header
*/
body {
  padding-top: 55px;
}

body::before {
  position: fixed;
  z-index: 0;
  display: block;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  background-image: linear-gradient(
    130deg,
    rgba($color-acc1, 0.4) 0,
    #fff 35%,
    #fff 70%,
    rgba($color-acc2, 0.4) 100%
  );
}

.top-head {
  z-index: 100;
  background-color: rgba(#fff, 0.2);
  backdrop-filter: blur(15px);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  border-bottom: 1px solid #eaeef3;
  font-size: 14px;
  font-family: $font-secondary;
  height: 55px;
}

.top-head__wrapper {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.top-head__logo {
  display: block;
  width: 100%;
  transition: transform $standart-duration;

  &:hover {
    transform: scale(1.3);
  }
}

.top-head__logolink {
  display: block;
  width: 45px;
  -webkit-tap-highlight-color: transparent;
}

.top-head__aside {
  display: flex;
  margin-right: -15px;
}

.top-head__menulink {
  @extend .button;
  color: $color-basic;
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 5px 15px;
  height: 25px;
  line-height: 25px;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    color: $color-inverted;
    background-color: $color-heavy;
  }
}

/*
    Burger
*/
$burger-one-height: 3px;
$burger-width: 27px;
$burger-koef: 7;
$burger-height: $burger-one-height * $burger-koef;
.burger {
  width: $burger-width;
  height: $burger-height;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
}

.burger span,
.burger::before,
.burger::after {
  display: block;
  position: absolute;
  height: $burger-one-height;
  border-radius: 9px;
  width: 100%;
  background: $color-basic;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger::before {
  top: 0px;
}

.burger span {
  top: $burger-one-height * ($burger-koef - 1)/2;
}

.burger::after {
  top: $burger-one-height * ($burger-koef - 1);
}

.burger.active::before {
  top: $burger-one-height * ($burger-koef - 1)/2;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.burger.active span {
  opacity: 0;
  left: -$burger-width;
}

.burger.active::after {
  top: $burger-one-height * ($burger-koef - 1)/2;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*
    Hero unit
*/
.hero-unit {
  padding-top: 30px;
  padding-bottom: 20px;
}

.hero-unit__name {
  background: linear-gradient(to right, $color-acc1, $color-acc2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-unit__contacts {
  margin-top: 15px;
}

.contacts {
  display: flex;
  margin-left: -12px;
}

.contacts__link {
  text-decoration: none;
  color: $color-basic;
  border-bottom: none;
  border-radius: $border-radius;
  font-size: 35px;
  text-align: center;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color $standart-duration linear,
    color $standart-duration linear;
  margin-right: 10px;

  &:hover {
    background-color: $color-light;
    color: $color-acc1;
  }

  & > i {
    margin: 0 auto;
  }
}

/*
    About me
*/
.about-me {
  background-color: $color-light;
}

/*
    My skills. Or should i say skills box?
*/
.skills-pack {
  width: 100%;
  max-width: $wide-width;
  margin: 0 auto;
}

.skills-switch {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 270px 1fr;
}

.skills-switch__menu {
  margin-right: 40px;
}

.skills-switch__tab {
  display: block;
  border: 1px solid $color-light;
  border-radius: $border-radius;
  padding: 20px 10px 20px 20px;
  color: $color-basic;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  transition: background-color $standart-duration;

  & > i {
    font-size: 24px;
    margin-right: 20px;
    color: #acb8ca;
    transition: color $standart-duration;
  }

  &:hover,
  &.active {
    background-color: $color-light;

    & > i {
      color: $color-heavy;
    }
  }

  & + & {
    margin-top: 10px;
  }
}

.skills-group {
  @extend .typo;
  display: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  &.active {
    display: grid;
  }

  & ul {
    list-style-type: none;

    & ul li {
      margin-left: 20px;
      padding-left: 15px;
      position: relative;
      list-style-type: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\25FC";
        font-size: 50%;
        display: block;
      }

      & + li {
        margin-top: 5px;
      }
    }
  }

  & > ul > li {
    &:before {
      display: none;
    }

    & + li {
      margin-top: 20px;
    }
  }
}

/*
    Github section
*/
.github-section {
  @extend .typo;
  background: #1d3d5e;
}

.github-section__wrapper {
  width: $wide-width;
  margin: 0 auto;
}

.github-section__intro {
  color: $color-inverted;
}

.github-section__intro a {
  color: $color-inverted;
  font-weight: bold;
  border-bottom: 1px solid $color-inverted;
  text-decoration: none;

  &:hover {
    color: $color-inverted-link;
    border-bottom-color: $color-inverted-link;
  }
}

/*
    Github imitation
*/
.github-wannabe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  font-size: 85%;
  margin-top: 15px;
}

.github-wannabe svg {
  align-self: center;
}

.github-wannabe__box {
  background-color: $color-inverted;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.github-wannabe__title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.github-wannabe__title > svg {
  margin-right: 10px;
}

.github-wannabe__descr {
  margin-bottom: 15px;
  flex-grow: 1;
}

.github-wannabe__meta,
.github-wannabe__language {
  display: flex;
  justify-items: flex-start;
}

.github-wannabe__language,
.github-wannabe__stars {
  margin-right: 20px;
}

.github-repo-color {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: 4px;
  align-self: top;
}

.github-repo-color_python {
  background-color: #3572a5;
}

.github-repo-color_html {
  background-color: #e34c26;
}

.github-repo-color_javascript {
  background-color: #f1e05a;
}

.github-repo-color_rust {
  background-color: #dea584;
}

.github-repo-color_actionscript {
  background-color: #882b0f;
}

.github-repo-color_nolanguage {
  background-color: #ccc;
  opacity: 0.2;
}

.github-repo-color_typescript {
  background-color: #2b7489;
}

.github-repo-color_go {
  background-color: #00add8;
}

.github-link {
  display: flex;
  color: #000 !important;
  border-bottom: none !important;
}

.github-link:hover {
  color: $color-inverted-link !important;
}

.github-link:hover > svg {
  fill: $color-inverted-link;
}

.github-link > svg {
  margin-right: 2px;
}

@media (max-width: 640px) {
  .github-wannabe {
    grid-template-columns: 1fr;
  }
}

/*
    Public activity
*/
.youtube-pane {
  width: 100%;
  max-width: $wide-width;
  margin: 15px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
}

.youtube-video {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube-video_soon {
  color: $color-basic;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  transition: background-color $standart-duration linear,
    border $standart-duration linear;
  border: 4px dashed $color-light;

  &:hover {
    background-color: $color-light;
  }
}

/*
    Projects list
*/
.projects-list {
  padding-top: 20px;
}

.projects-links {
  margin-top: 20px;
}

.projects-links li {
  list-style-type: none;
  position: relative;
  padding-left: 25px;
}

.projects-links li:before {
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
  content: "💈";
}

.projects-links > li + li {
  margin-top: 15px;
}

/*
    Footer
*/
.bottom-foot {
  background-color: $color-light;
  padding: 20px 0;
  font-size: 14px;
  font-family: $font-secondary;
  font-weight: 400;
}

.bottom-foot__wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-foot__feedback > a {
  @extend .link;
}

/*
    Outdated browsers warn
*/
.outdated > .outdated-browser {
  display: block;
}

.outdated-browser {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000;
  color: #fff;
  z-index: 1000;
  opacity: 0.9;
}

.outdated-browser__inner {
  width: 760px;
  margin: 10px auto;
  padding: 5px 0;
  display: flex;

  &::before {
    content: "⚠️";
    display: block;
    margin-right: 10px;
  }
}

/*
    Mobile adaptation
*/
@media (max-width: 1000px) {
  .skills-pack,
  .basic-section,
  .bottom-foot,
  .hero-unit,
  .top-head {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }

  .github-section__wrapper {
    width: 100%;
  }

  .skills-switch {
    grid-template-columns: 220px 1fr;
  }

  .skills-switch__menu {
    margin-right: 20px;
  }

  .github-wannabe {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .skills-group.active {
    display: block;
  }
}

@media (max-width: 750px) {
  .skills-switch {
    display: block;
  }

  .skills-switch__menu {
    margin-right: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: top;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skills-switch__tab {
    padding: 10px;

    & + & {
      margin-top: 0;
    }

    & > i {
      display: none;
    }
  }

  .skills-group > ul + ul {
    margin-top: 20px;
  }

  .burger {
    display: block;
  }

  .top-head__aside {
    display: none;
    width: 100%;
    margin-left: -20px;
    transition: all 0.25s ease-in-out;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
  }

  .top-head__aside.active {
    display: flex;
    position: absolute;
    top: 55px;
    background: $color-inverted;
    padding: 10px 20px 10px 7px;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
}

@media (max-width: 700px) {
  .youtube-pane {
    display: block;
  }

  .youtube-video + .youtube-video {
    margin-top: 15px;
  }
}

@media (max-width: 540px) {
  .github-wannabe {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .bottom-foot__wrapper {
    display: block;
  }

  .bottom-foot__feedback {
    margin-top: 10px;
  }

  .contacts {
    flex-wrap: wrap;
  }

  .youtube-video {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .typo h1 {
    font-size: 38px;
  }
}
