$color-acc1: #ac23f3;
$color-acc2: #02923d;
$color-bg-light: #eaeef3;
$color-bg-heavy: #1d3d5e;
$color-basic: #000;
$font-main: "Nunito", sans-serif;
$font-secondary: "Inter", sans-serif;
$border-radius: 10px;

/*
    Generic visual things
*/
// global reset (because i can)
* {
  padding: 0;
  margin: 0;
}

body {
  color: $color-basic;
  font-family: $font-main;
  line-height: 22px;
  font-size: 16px;
}

a,
button {
  touch-action: manipulation;
}

.typo {
  a {
    @extend .link;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 15px;
    font-family: $font-secondary;
    font-weight: bold;
  }

  h1 {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    line-height: 16px;
  }

  p + p,
  p + iframe,
  p + table {
    margin-top: 10px;
  }

  ul > li {
    margin-left: 0;
    padding-left: 25px;
    list-style-type: none;
    position: relative;
  }

  ul li:before {
    left: 0;
    top: 0;
    position: absolute;
    display: inline-block;
  }
}

.link {
  color: $color-acc2;
  text-decoration: none;
  border-bottom: 1px solid rgba($color-acc2, 0.2);

  &:hover {
    color: $color-acc1;
    border-bottom-color: $color-acc1;
  }
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
    Generic layout things
*/
.narrow-wrapper {
  width: 750px;
  margin: 0 auto;
}

.basic-section {
  padding: 40px 0;
}

/*
    Header
*/
body::before {
  position: absolute;
  z-index: 0;
  display: block;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  background-image: linear-gradient(
    130deg,
    rgba($color-acc1, 0.2) 0,
    #fff 45%,
    #fff 70%,
    rgba($color-acc2, 0.2) 100%
  );
}

.top-head {
  backdrop-filter: blur(10px);
  position: sticky;
  border-bottom: 1px solid $color-bg-light;
  font-size: 14px;
  font-family: $font-secondary;
}

.top-head__wrapper {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

.top-head__logo {
  display: block;
  width: 100%;
}

.top-head__logolink {
  display: block;
  width: 45px;
}

.top-head__aside {
  display: flex;
  margin-right: -15px;
}

.top-head__menulink {
  color: $color-basic;
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 5px 15px;

  &:hover {
    background-color: $color-bg-light;
    border-radius: $border-radius;
  }
}

/*
    Hero unit
*/
.hero-unit {
  @extend .basic-section;
  padding-top: 20px;
}

.hero-unit__name {
  background: linear-gradient(to right, $color-acc1, $color-acc2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*
    Footer
*/
.bottom-foot {
  background-color: $color-bg-light;
  padding: 20px 0;
  font-size: 14px;
  font-family: $font-secondary;
}

.bottom-foot__wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-foot__feedback > a {
  @extend .link;
}
