// Im a little bit conservative, so i prefer desktop-first styles,
// please dont blame me on that to hard, please.
// Also i really love pixels. Now you can hate me at full scale.
@use "sass:math";
@use "sass:color";

$color-acc1: #7000d1;
$color-acc2: #007a33;
$color-light: #f3f6f9;
$color-heavy: #1d3d5e;
$color-basic: #000;
$color-inverted: #fff;
$color-inverted-link: #0366d6;
$font-main: "Nunito", sans-serif;
$font-secondary: "Inter", sans-serif;
$border-radius: 10px;
$standart-duration: 100ms;
$narrow-width: 750px;
$wide-width: 1000px;
$diagonal: 45px;

/*
    Generic visual things
*/
// global reset (because i can)
* {
  padding: 0;
  margin: 0;
}

body {
  color: $color-basic;
  font-family: $font-main;
  line-height: 22px;
  font-size: 16px;
}

abbr {
  text-decoration: none;
}

a,
button {
  touch-action: manipulation;
}

.typo {
  line-height: 22px;

  a {
    @extend .link;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 15px;
    font-family: $font-secondary;
    font-weight: bold;
  }

  h1 {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    line-height: 16px;
  }

  p + p,
  p + iframe,
  p + table {
    margin-top: 15px;
  }

  p + .fancy-list {
    margin-bottom: 20px;
  }
}

.link {
  color: $color-acc2;
  text-decoration: none;
  border-bottom: 1px solid rgba($color-acc2, 0.2);
  transition:
    color $standart-duration linear,
    border-bottom $standart-duration linear;

  &:hover {
    color: $color-acc1;
    border-bottom-color: $color-acc1;
  }
}

.button {
  border-radius: $border-radius;
  transition: background-color $standart-duration linear;

  &:hover {
    background-color: $color-light;
  }
}

.fancy-list {
  margin-top: 10px;
}

.fancy-list li {
  list-style-type: none;
  position: relative;
  padding-left: 25px;
}

.fancy-list li:before {
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
  content: "💈";
}

.fancy-list > li + li {
  margin-top: 10px;
}

/*
    Generic layout things
*/
.narrow-wrapper {
  width: 100%;
  max-width: $narrow-width;
  margin: 0 auto;
}

.basic-section {
  padding: 20px 0 20px 0;
}

.spec-title {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 20px;
  font-family: $font-secondary;
}

.spec-title__accent {
  color: $color-acc1;
  position: relative;
  white-space: nowrap;

  &::before,
  &::after {
    content: "✦";
    font-size: 0.5em;
    color: $color-acc1;
    vertical-align: super;
    display: inline-block;
    animation: sparkle 2s ease-in-out infinite alternate;
  }

  &_green {
    color: $color-acc2;

    &::before,
    &::after {
      color: $color-acc2;
    }
  }

  &::before {
    margin-right: 4px;
    animation-delay: 0s;
  }

  &::after {
    margin-left: 4px;
    animation-delay: 0.7s;
  }
}

@keyframes sparkle {
  from {
    opacity: 0.2;
    transform: scale(0.7) rotate(-15deg);
  }
  to {
    opacity: 1;
    transform: scale(1.3) rotate(15deg);
  }
}

.spec-title__inverted {
  color: $color-inverted;
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

.details[open] > .details__content {
  animation: details-show 150ms ease-in-out;
}

.details__summary {
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  color: $color-acc2;
  width: 100%;
  max-width: $wide-width;
  border-radius: 6px;
  padding: 5px 0;
}

.details__inneraccent {
  border-bottom: 1px solid $color-acc2 dashed;
}

.details__summary:hover {
  color: $color-acc1;
}

.details__summary:hover > .details__inneraccent {
  border-bottom-color: $color-acc1;
}

/*
    Header
*/
body {
  padding-top: 55px;
}

body::before {
  position: fixed;
  z-index: 0;
  display: block;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  background-image: linear-gradient(
    130deg,
    rgba($color-acc1, 0.4) 0,
    #fff 35%,
    #fff 70%,
    rgba($color-acc2, 0.4) 100%
  );
}

.top-head {
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  border-bottom: 1px solid #eaeef3;
  font-size: 14px;
  font-family: $font-secondary;
  height: 55px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .top-head {
    backdrop-filter: blur(15px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  body::before {
    background-image: linear-gradient(
      130deg,
      rgba($color-acc1, 0.8) 0,
      #fff 35%,
      #fff 70%,
      rgba($color-acc2, 0.8) 100%
    );
  }

  body::after {
    position: fixed;
    z-index: 0;
    display: block;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    background: linear-gradient(
      180deg,
      rgba($color-basic, 0) 0%,
      rgba($color-inverted, 1) 50%
    );
    z-index: 1;
  }
}

.top-head__wrapper {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.top-head__logo {
  display: block;
  width: 100%;
  transition: transform $standart-duration;

  &:hover {
    transform: scale(1.3);
  }
}

.top-head__logolink {
  display: block;
  width: 45px;
  -webkit-tap-highlight-color: transparent;
}

.top-head__aside {
  display: flex;
  margin-right: -15px;
}

.top-head__menulink {
  @extend .button;
  color: $color-basic;
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 5px 15px;
  height: 25px;
  line-height: 25px;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    color: $color-inverted;
    background-color: $color-heavy;
  }
}

/*
    Burger
*/
$burger-one-height: 3px;
$burger-width: 27px;
$burger-koef: 7;
$burger-height: $burger-one-height * $burger-koef;
.burger {
  width: $burger-width;
  height: $burger-height;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

.burger::before,
.burger::after {
  content: "";
  display: block;
}

.burger span,
.burger::before,
.burger::after {
  display: block;
  position: absolute;
  height: $burger-one-height;
  border-radius: 9px;
  width: 100%;
  background: $color-basic;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger::before {
  top: 0px;
}

.burger span {
  top: $burger-one-height * math.div($burger-koef - 1, 2);
}

.burger::after {
  top: $burger-one-height * ($burger-koef - 1);
}

.burger.active::before {
  top: $burger-one-height * math.div($burger-koef - 1, 2);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.burger.active span {
  opacity: 0;
  left: -$burger-width;
}

.burger.active::after {
  top: $burger-one-height * math.div($burger-koef - 1, 2);
  transform: rotate(-135deg);
}

/*
    Hero unit
*/
.hero-unit {
  padding-top: 30px;
  padding-bottom: 0;
}

@keyframes wave-left {
  to {
    transform: translateX(-50%);
  }
}

@keyframes wave-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.hero-unit__waves {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.hero-unit__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%;
  will-change: transform;

  & path {
    fill: $color-light;
  }
}

.hero-unit__wave_back {
  animation: wave-right 40s linear infinite;

  & path {
    fill: $color-heavy;
  }
}

.hero-unit__wave_front {
  animation: wave-left 25s linear infinite;
}

@keyframes boat-sail {
  from {
    left: 110%;
  }
  to {
    left: -12%;
  }
}

@keyframes boat-bob {
  0%,
  100% {
    transform: translateY(0) rotate(-2deg);
  }
  50% {
    transform: translateY(-4px) rotate(2deg);
  }
}

.hero-unit__boat {
  position: absolute;
  bottom: 10px;
  animation: boat-sail 70s linear infinite;
  z-index: 1;

  &-inner {
    animation: boat-bob 2.5s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-deck {
    display: flex;
    align-items: flex-end;
    width: 36px;
  }

  &-mast {
    flex-shrink: 0;
    width: 2px;
    height: 22px;
    background: $color-heavy;
    margin-left: 2px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 16px;
      height: 20px;
      background: rgba($color-acc1, 0.8);
      clip-path: path(
        "M 0,2 Q 0,0 2,0 L 14,9 Q 16,10 14,11 L 2,20 Q 0,20 0,18 Z"
      );
    }
  }

  &-clown {
    font-size: 14px;
    line-height: 1;
    margin-left: 16px;
    margin-bottom: 2px;
  }

  &-hull {
    width: 36px;
    height: 9px;
    background: $color-heavy;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -2px;
      right: -2px;
      height: 5px;
      background: color.mix($color-heavy, $color-light, 70%);
      border-radius: 4px 4px 0 0;
    }
  }
}

.hero-unit__name {
  background: linear-gradient(to right, $color-acc1, $color-acc2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-unit__contacts {
  margin-top: 15px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
}

.contacts__wrapgroup {
  white-space: nowrap;
  display: flex;
}

.contacts__link {
  text-decoration: none;
  color: $color-basic;
  border-bottom: none;
  border-radius: $border-radius;
  font-size: 35px;
  text-align: center;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color $standart-duration linear,
    color $standart-duration linear;
  margin-right: 10px;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: $color-light;
    color: $color-acc1;
  }

  & > i {
    margin: 0 auto;
  }
}

/*
    About me
*/
.about-me {
  background-color: $color-light;
  position: relative;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{$diagonal}), 0 100%);
  padding-bottom: 10px + $diagonal;

  .spec-title__accent::before,
  .spec-title__accent::after {
    display: none;
  }
}

/*
    My skills. Or should i say skills box?
*/
.skills-pack {
  width: 100%;
  max-width: $wide-width;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.skills-switch {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 270px 1fr;
}

.skills-switch__menu {
  margin-right: 40px;
}

.skills-switch__tab {
  display: block;
  border: 1px solid $color-light;
  border-radius: 6px;
  padding: 20px 10px 20px 20px;
  color: $color-basic;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  transition: background-color $standart-duration;
  -webkit-tap-highlight-color: transparent;

  & > i {
    font-size: 24px;
    margin-right: 20px;
    color: #acb8ca;
    transition: color $standart-duration;
  }

  &:hover,
  &.active {
    background-color: $color-light;

    & > i {
      color: $color-heavy;
    }
  }

  & + & {
    margin-top: 10px;
  }
}

.skills-group {
  @extend .typo;
  display: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  &.active {
    display: grid;
  }

  & ul {
    list-style-type: none;

    & ul li {
      margin-left: 20px;
      padding-left: 15px;
      position: relative;
      list-style-type: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\25FC";
        font-size: 50%;
        display: block;
      }

      & + li {
        margin-top: 5px;
      }
    }
  }

  & > ul > li {
    &:before {
      display: none;
    }

    & + li {
      margin-top: 20px;
    }
  }
}

/*
    Github section
*/
.github-section {
  @extend .typo;
  background: #1d3d5e;
  position: relative;
  z-index: 3;
  clip-path: polygon(
    0 #{$diagonal},
    100% 0,
    100% 100%,
    0 calc(100% - #{$diagonal})
  );
  padding-top: 40px + $diagonal;
  padding-bottom: 40px + $diagonal;
}

.github-section__wrapper {
  width: $wide-width;
  margin: 0 auto;
}

.github-section__intro {
  color: $color-inverted;
}

.github-section__intro a {
  color: $color-inverted;
  font-weight: bold;
  border-bottom: 1px solid $color-inverted;
  text-decoration: none;

  &:hover {
    color: $color-inverted-link;
    border-bottom-color: $color-inverted-link;
  }
}

/*
    Github imitation
*/
.github-wannabe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  font-size: 85%;
  margin-top: 15px;
}

.github-wannabe svg {
  align-self: center;
}

.github-wannabe__box {
  background-color: $color-inverted;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.github-wannabe__title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.github-wannabe__title > svg {
  margin-right: 10px;
}

.github-wannabe__descr {
  margin-bottom: 15px;
  flex-grow: 1;
}

.github-wannabe__meta,
.github-wannabe__language {
  display: flex;
  justify-items: flex-start;
}

.github-wannabe__language,
.github-wannabe__stars {
  margin-right: 20px;
}

.github-repo-color {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: 4px;
  align-self: top;
}

.github-repo-color_python {
  background-color: #3572a5;
}

.github-repo-color_html {
  background-color: #e34c26;
}

.github-repo-color_javascript {
  background-color: #f1e05a;
}

.github-repo-color_rust {
  background-color: #dea584;
}

.github-repo-color_actionscript {
  background-color: #882b0f;
}

.github-repo-color_nolanguage {
  background-color: #ccc;
  opacity: 0.2;
}

.github-repo-color_typescript {
  background-color: #2b7489;
}

.github-repo-color_go {
  background-color: #00add8;
}

.github-link {
  display: flex;
  color: #000 !important;
  border-bottom: none !important;
}

.github-link:hover {
  color: $color-inverted-link !important;
}

.github-link:hover > svg {
  fill: $color-inverted-link;
}

.github-link > svg {
  margin-right: 2px;
}

@media (max-width: 640px) {
  .github-wannabe {
    grid-template-columns: 1fr;
  }
}

/*
    Public activity
*/
.public-activity {
  padding-top: 10px;
  padding-bottom: 0;
  position: relative;
  z-index: 4;
}

/*
    Projects list
*/
.projects-list {
  position: relative;
  z-index: 5;
  padding-top: 30px;
}

.youtube-pane {
  width: 100%;
  max-width: $wide-width;
  margin: 15px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
}

.youtube-video {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.youtube-video_soon {
  color: $color-basic;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  transition:
    background-color $standart-duration linear,
    border $standart-duration linear;
  border: 4px dashed $color-light;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: $color-light;
  }
}

/*
    Footer
*/
.bottom-foot {
  background-color: $color-light;
  font-size: 14px;
  font-family: $font-secondary;
  font-weight: 400;
  position: relative;
  z-index: 6;
  clip-path: polygon(0 #{$diagonal}, 100% 0, 100% 100%, 0 100%);
  margin-top: -30px;
  padding: $diagonal + 10px 0 30px;
}

.bottom-foot__wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom-foot__feedback > a {
  @extend .link;
}

/*
    Outdated browsers warn
*/
.outdated > .outdated-browser {
  display: block;
}

.outdated-browser {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000;
  color: #fff;
  z-index: 1000;
  opacity: 0.9;
}

.outdated-browser__inner {
  width: 760px;
  margin: 10px auto;
  padding: 5px 0;
  display: flex;

  &::before {
    content: "⚠️";
    display: block;
    margin-right: 10px;
  }
}

/*
    Mobile adaptation
*/
@media (max-width: 1000px) {
  .skills-pack,
  .basic-section,
  .bottom-foot,
  .hero-unit,
  .top-head {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-unit__waves {
    margin-left: -20px;
    margin-right: -20px;
  }

  .github-section__wrapper {
    width: 100%;
  }

  .skills-switch {
    grid-template-columns: 220px 1fr;
  }

  .skills-switch__menu {
    margin-right: 20px;
  }

  .github-wannabe {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .skills-group.active {
    display: block;
  }
}

@media (max-width: 750px) {
  .hero-unit__boat {
    animation-duration: 40s;
  }

  .skills-switch {
    display: block;
  }

  .skills-switch__menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -10px 0 20px -10px;
  }

  .skills-switch__tab {
    padding: 10px;
    margin: 10px 0 0 10px;

    & > i {
      display: none;
    }
  }

  .skills-group > ul + ul {
    margin-top: 20px;
  }

  .burger {
    display: block;
    -webkit-tap-highlight-color: transparent;
  }

  .top-head__aside {
    display: none;
    width: 100%;
    margin-left: -20px;
    transition: all 0.25s ease-in-out;
    flex-wrap: wrap;
    gap: 7px;
  }

  .top-head__aside.active {
    display: flex;
    position: absolute;
    top: 55px;
    background: $color-inverted;
    padding: 10px 20px 10px 7px;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
}

@media (max-width: 700px) {
  .youtube-pane {
    display: block;
  }

  .youtube-video + .youtube-video {
    margin-top: 15px;
  }
}

@media (max-width: 540px) {
  .hero-unit__boat {
    animation-duration: 25s;
  }

  .github-wannabe {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .bottom-foot__wrapper {
    display: block;
  }

  .bottom-foot__feedback {
    margin-top: 10px;
  }

  .contacts {
    flex-wrap: wrap;
  }

  .youtube-video {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .typo h1 {
    font-size: 38px;
    line-height: 42px;
  }
}
