$accent1: #00933b;
$accent2: #b71cff;
$light-accent1: #c4e9d2;
$light-accent2: #d7b7e9;
$lightest-accent1: #ecf7f1;
$lightest-gray: #e5e5e5;
$default-border-radius: 3px;
$tooltip-color: rgba(0, 0, 0, 0.8);
$info-section-side-padding: 20px;
$info-section-between-padding: 35px;
$max-width: 700px;
$min-width: 320px;

// ======== Generic things
// global reset (because i can)
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 22px;
  font-size: 16px;
}

a,
button {
  touch-action: manipulation;
}

.typo {
  a {
    color: $accent1;
    text-decoration: none;
    border-bottom: 1px solid rgba($accent1, 0.2);

    &:hover {
      color: $accent2;
      border-bottom-color: $accent2;
    }
  }

  p + p,
  p + iframe,
  p + table {
    margin-top: 10px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 15px;
    font-family: "Comfortaa", cursive;
    font-weight: 700;
  }

  h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 25px;
  }

  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    line-height: 16px;
  }

  ul > li {
    margin-left: 0;
    padding-left: 25px;
    list-style-type: none;
    position: relative;
  }

  ul li:before {
    left: 0;
    top: 0;
    position: absolute;
    display: inline-block;
  }

  .hpquote {
    /* во славу сатаны */
    margin-left: -0.6em;
  }

  .irony {
    /* красненькое с лепры */
    color: #cc3333;
    font-style: italic;
  }
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// ======== Global layout things
.allcontent {
  padding-bottom: 30px;
  position: relative;
}

.allcontent__outdated > .outdated-browser {
  display: block;
}

// .allfooter {
//   margin-top: 60px !important;
//   color: $lightest-gray;
//   text-align: left;
//   font-size: 12px;
//   line-height: 16px;
// }

// .allfooter a {
//   color: $lightest-gray;
//   border-bottom-color: currentColor;
//   white-space: nowrap;
// }

.outdated-browser {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000;
  color: #fff;
  z-index: 1000;
  opacity: 0.8;
}

.outdated-browser__inner {
  width: 760px;
  margin: 10px auto;
  padding: 5px 0;
  display: flex;

  &::before {
    content: "⚠️";
    display: block;
    margin-right: 10px;
  }
}

.back-to-top {
  // uncomment to visualize "track"
  // outline: 1px solid red;
  position: absolute;
  top: 102vh;
  bottom: 0;
  right: 10px;
  width: 3em;
  pointer-events: none;
}

.back-to-top__link {
  position: fixed;
  // preferred positioning, requires prefixing for most support, and not supported on Safari
  // @link https://caniuse.com/#search=position%3A%20sticky
  position: sticky;
  // reinstate clicks
  pointer-events: all;
  // achieves desired positioning within the viewport
  // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
  top: calc(100vh - 60px);
  display: inline-block;
  text-decoration: none;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-bottom: none !important;
  background: rgba(255, 255, 255, 0.6);
  border-radius: $default-border-radius;

  &::before {
    content: "🔝";
    display: block;
  }

  &:hover {
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .back-to-top {
    display: none;
  }
}

// ======== Main menu
.main-menu {
  display: flex;
  justify-content: flex-end;
  // safari :/
  // gap: 20px;
  z-index: 10;
  padding-top: 5px !important;
  padding-bottom: 15px !important;
  flex-wrap: wrap;
  margin-top: -15px !important;
}

.main-menu__link {
  display: block;
  margin-left: 20px;
  margin-top: 15px;

  &:hover {
    border-bottom-color: $accent2 !important;
  }
}

@media screen and (max-width: 410px) {
  .main-menu {
    gap: 10px;
  }
}

// ======== Hero unit
.info-section,
.hero__inner,
.allfooter {
  padding: 0 $info-section-side-padding;
  margin: auto;
  box-sizing: border-box;
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;
}

.info-section {
  padding-top: $info-section-between-padding;
}

.hero {
  background-image: linear-gradient(
    130deg,
    $light-accent1 0,
    #fff 45%,
    #fff 70%,
    $light-accent2 100%
  );
  position: relative;
  box-shadow: 0 8px 6px -6px #eee;
  box-sizing: border-box;
}

.hero__inner {
  align-items: start;
  justify-content: space-between;
  padding: 30px 20px;
}

.hero__contacts {
  margin-top: 20px;
}

.hero__title {
  display: flex;
  align-items: start;
  margin-bottom: 0 !important;
}

.hero__logo {
  display: block;
  width: 35px;
  margin-left: 10px;
  margin-top: 6px;
}

.hero__toprow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.hero__github {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .hero__title {
    margin-bottom: 10px !important;
  }

  .hero__toprow {
    display: block;
  }

  .hero__github > a,
  .hero__github > a:hover {
    background: linear-gradient(180deg, #fafbfc, #eff3f6 90%) !important;
    border-color: rgba(27, 31, 35, 0.15) !important;
  }
}

// ======== Contacts
.contact-links {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  // margin-top: 15px;
  // margin-right: 20px;
}

.contact-links__prefix {
  margin-right: 15px;
}

.contact-links__list {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -15px;
}

.contact-links__link {
  text-align: left;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 0;
  margin-right: 20px;
  margin-top: 15px;
}

.contact-links__link:last-child {
  margin-right: 0;
}

.contact-links__icon {
  margin-right: 10px;
  color: #343a40;
}

@media screen and (max-width: 620px) {
  .contact-links {
    display: block;
  }

  .contact-links__list {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-links__prefix {
    margin-bottom: 15px;
  }
}

// ======== Skill blocks
.skills-list {
  margin-top: 5px;
}

.skills-list li {
  padding-left: 20px !important;
}

.skills-list li:before {
  content: "\2022";
}

.skills-list li ul {
  margin-bottom: 10px;
  margin-left: 20px;
}

.skills-list li {
  margin-top: 5px;
}

.skillblock {
  & + & {
    margin-top: 10px;
  }

  &[open] .skillblock__summary {
    margin-bottom: 10px;
  }

  &[open] .skillblock__content {
    animation-name: fadeIn;
    animation-duration: 500ms, 200ms;
    animation-delay: 0ms, 500ms;
  }

  &__summary {
    outline: none;
    cursor: pointer;
    display: inline-block;
  }

  &__wrap {
    color: $accent1;
    border-bottom: 1px solid rgba($accent1, 0.2);
  }

  &__summary:hover > .skillblock__wrap,
  &[open] .skillblock__wrap {
    color: $accent2;
    border-bottom-color: $accent2;
  }
}

.skillbbefore {
  margin-bottom: 10px;
}

// ======== Project list
.projects-links {
  margin-top: 20px;
}

.projects-links li:before {
  content: "💎";
}

.projects-links > li + li {
  margin-top: 15px;
}

// ======== Github imitation
.github-wannabe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  font-size: 85%;
  min-height: 460px;
  margin-top: 15px;
}

.github-wannabe svg {
  align-self: center;
}

.github-wannabe__box {
  border: 1px solid $lightest-gray;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.github-wannabe__title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.github-wannabe__title > svg {
  margin-right: 10px;
}

.github-wannabe__descr {
  margin-bottom: 15px;
  flex-grow: 1;
}

.github-wannabe__meta,
.github-wannabe__language {
  display: flex;
  justify-items: flex-start;
}

.github-wannabe__language,
.github-wannabe__stars {
  margin-right: 20px;
}

// github additional elements
.github-repo-color {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: 4px;
  align-self: top;
}

.github-repo-color_python {
  background-color: #3572a5;
}

.github-repo-color_html {
  background-color: #e34c26;
}

.github-repo-color_javascript {
  background-color: #f1e05a;
}

.github-repo-color_rust {
  background-color: #dea584;
}

.github-repo-color_actionscript {
  background-color: #882b0f;
}

.github-repo-color_nolanguage {
  background-color: #ccc;
  opacity: 0.2;
}

.github-repo-color_typescript {
  background-color: #2b7489;
}

.github-repo-color_go {
  background-color: #00add8;
}

.github-link {
  display: flex;
  color: #000 !important;
  border-bottom: none !important;
}

.github-link:hover {
  color: #0366d6 !important;
}

.github-link:hover > svg {
  fill: #0366d6;
}

.github-link > svg {
  margin-right: 2px;
}

@media screen and (max-width: 640px) {
  .github-wannabe {
    grid-template-columns: 1fr;
  }
}

// ======== Various shit
.codewars {
  margin-top: 10px;
  margin-bottom: 10px;
}

.basic-tooltip {
  text-decoration: none;
  border-bottom: 1px dotted $tooltip-color;
  font-style: normal;
  position: relative;
  cursor: help;
  display: inline-block;
  user-select: none;
}

.basic-tooltip:before {
  content: attr(data-title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  padding: 10px;
  border-radius: $default-border-radius;
  background: $tooltip-color;
  color: #fff;
  display: none;
  font-size: 14px;
  line-height: 18px;
}

.basic-tooltip:hover:before,
.basic-tooltip:active:before,
.basic-tooltip:focus:before {
  display: block;
}

.github-button {
  padding: 2px 10px;
  font-size: 90%;
  color: #000 !important;
  display: block;
  border-radius: $default-border-radius !important;
  border: 1px solid $lightest-gray !important;
}

.github-button:hover,
.github-button:active {
  background: $lightest-accent1;
  border-color: $lightest-accent1 !important;
}

.github-button__icon {
  font-size: 20px;
  margin-right: 6px;
  margin-top: 1px;
  vertical-align: top;
}

.youtube-pane {
  margin-top: 10px;
  margin-bottom: 10px;
}

.youtube-pane__item + .youtube-pane__item {
  margin-top: 20px;
}
